<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaddStress.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MaddStress.My.MySettings>
            <setting name="TotalFloods" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FavIP" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>127.0.0.1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FavName" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Local</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FavNotes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>This is my local address.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="History" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>History:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DPackets" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DSockets" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DAUL" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Stabilizer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>mail.</string>
                        <string>direct.</string>
                        <string>direct-connect.</string>
                        <string>cpanel.</string>
                        <string>ftp.</string>
                        <string>forum.</string>
                        <string>blog.</string>
                        <string>m.</string>
                        <string>dev.</string>
                        <string>webmail.</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MaddStress.My.MySettings>
    </userSettings>
</configuration>